$--primary-color: #4959e7;
$--blue-color-100: #f8faff;
$--secondary-color: #d9dbf9;
$--white-color: #ffffff;
$--gray-color: #6c6b74;
$--gray-color-100: #e9e9f3;
$--gray-color-200: #E9E9F2;
$--gray-color-300: #666666;
$--black-color: #110f24;
